<br><br><br><br><br>
<div  dir="rtl">
<div class="row m-0 p-0 w-100 justify-content-start align-items-start">
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <div class="row m-0 p-0 w-100 justify-content-start">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 d-flex flex-column  fit-content " style="height: 400px;">
        <a href="#"><img src="./assets/like.svg" alt="" width="24px" height="24px"></a>
        <a href="#"><img src="./assets/share.svg" alt="" width="24px" height="24px"></a>
        <a href="#"><img src="./assets/notif.svg" alt="" width="24px" height="24px"></a>
        <a href="#"><img src="./assets/chart.svg" alt="" width="24px" height="24px"></a>
        <a href="#"><img src="./assets/list.svg" alt="" width="24px" height="24px"></a>
        <a href="#"><img src="./assets/list.svg" alt="" width="24px" height="24px"></a>
      </div>
      <div class="col-12 col-sm-12 col-md-12 justify-content-md-center col-lg-8 col-xl-8 d-flex justify-content-center   ">
        <img [src]="mac.img3" alt="" width="300px" height="380px">
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <div class="row p-0 m-0">
      <div class="col-12 d-flex flex-column align-items-start">
        <a href="#" class="more">مک بوک<span>\</span>لپ تاپ والکترابوک </a>
          <h1>{{mac.paraf}}</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 flex-column-reverse ">
        <div class="d-flex justify-content-start">
          <hr>
        </div>
        
        <ul class="d-flex justify-content-start align-content-center">
          <li class="mar"><a href="#">4.4</a></li>
          <li class="mar"><a href="#">دیدگاه</a></li>
          <li class="mar"><a href="#">پرسش</a></li>
        </ul>
        <div class="d-flex justify-content-start">
          <div *ngFor="let z of mac.color" class="m-2">
        <p>{{z.nameclo}}</p>
        <input [style.color]="z.cod" type="radio" value="">
      </div>
       </div>
        <p>بیمه</p>
        <div class="row m-0 p-0 justify-content-start bor">
          <div class="col-1 d-flex justify-content-center align-content-center" style="border-left: 1px solid black;">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-11">
            <div *ngFor="let x of mac.Insurance">
              <div class="d-flex justify-content-start">
              <input type="checkbox">
              <p>{{x.name}}</p>
              <p>{{x.mony}}</p>
            </div>
            </div>
            
            
            <div class="d-flex justify-content-between" >
              <p><span class="off">%20</span> <del style="opacity:0.7 ;">478000</del> <span>378000</span></p>
              <a href="#" class="more">جزییات></a>
            </div>
          </div>
        </div>
<br>
        <p>ویژگی ها:</p>
        <ul >
          
          <li>سری پردازنده: <span>{{mac.cpu}}</span></li><br>
          <li>ظرفیت حافظه رم: <span>{{mac.ram}}</span></li><br>
          <li>ظرفیت حافظه داخلی: <span>{{mac.rom}}</span></li><br>
          <li>سازنده پردازنده گرافیکی: <span>{{mac.grafic}}</span></li><br>
          <li>دقت صفحه نمایش: <span>{{mac.resoulation}}</span></li>
        </ul>
        <div class="d-flex justify-content-end"><a href="#" class="more">مشاهده بیشتر></a><br></div>
        <br><br>
        
        <p>امکان برگشت کالا در گروه لپ‌تاپ و الترابوک با دلیل "انصراف از خرید" تنها در صورتی مورد قبول است که کالا در شرایط اولیه باشد (در صورت پلمپ بودن، کالا نباید باز شده باشد). تغییرات ایجادشده در لپ‌تاپ‌های کاستوم (برای مثال ارتقا هارد، رم و...) توسط شرکت گارانتی‌کننده و به صورت رسمی انجام شده است و شامل گارانتی می‌شوند. لپ تاپ کاستوم به معنی ارتقا فنی بعضی قطعات لپ تاپ نو (آکبند) و بر اساس استاندارد شرکت تولیدکننده است، لطفا برای اطلاعات بیشتر در این مورد، به سوالات متداول مراجعه فرمایید.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4  flex-column bor  " style="height: 550px;">
          <div class="d-flex justify-content-between p-2">
            <p>فروشنده</p>
            <a href="#" class="more">دوفروشنده دیگر></a>
          </div>
          <a href="#" class="d-flex flex-column b-bottom">
            <div>
              <div class="d-flex justify-content-start">
                <p class="mar-l">رایتاک</p>
                <p class="green">منتخب</p>
              </div>
              <div class="d-flex justify-content-center">
                <p><span class="green">100%</span>رضایت از کالا</p>
                <div class="hr-o"></div>
                <p>عملکرد <span class="green">عالی</span></p>
              </div>
            </div>
            <div></div>
          </a>
          <p class="p-3 b-bottom">گارانتی ۱۸ ماهه راسا همراه سورن</p>
          <a href="#" >
            <div class="d-flex justify-content-between align-items-center">
              <p>موجود در انبار فروشنده و دیجی‌کالا</p>
              <p style="font-size: 20px; font-weight: bold;">></p>
            </div>
            <div class="d-flex justify-content-start  flex-column">
              <p>ارسال دیجی‌کالا از ۱ روز کاری دیگر</p>
              <p class="b-bottom">ارسال فروشنده</p>

            </div>
          </a>
          <p class="b-bottom">150 امتیاز دیجی کاب</p>
          <div class="d-flex flex-column">
            <div class=" d-flex justify-content-between align-items-center p-3">
              <img src="./assets/buy.svg" alt="">
              <p>{{mac.price}}</p>
              </div>
              <p>تنها یک عدد در انبار دیجی کلا باقی مانده</p>
              <div class="d-flex align-items-center justify-content-center">
                <div class="ord d-flex align-items-center justify-content-center">
                  <p>سفارش</p>
                </div>
              
            </div>
          </div>
      </div>
      

    </div>
  </div>

</div>
</div>
