@font-face {
    font-family: Byeakan;
    src: url(../assets/fonts/BYekan.woff);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Byeakan;
}
h1{
    font-size: 21px;
    font-weight:bolder;
}
.flex-content{
    display: flex;
    justify-content: space-between;
}
.fit-content{
    width: fit-content;
    height: fit-content;
}
.flex1{
    display: flex;
    flex-direction: row;
    justify-content: start;

}
a{
    text-decoration: none;
    color:rgba(0, 0,0,0.6)
}
a:hover{
    color: black;
}
.mar{
    margin-left: 25px;
}
.color{
    border-radius: 50px;
    background-color: rgb(142, 151, 151);
    border: 5px solid rgb(52, 219, 205);
    width: 40px;
    height: 40px;
    color: green;
}
.bor{
    border: 1px solid rgba(214, 204, 204, 0.6);
    border-radius: 4px;
}
.off{
    border-radius: 10px;
    background-color: red;
}
ul li span{
    font-weight: bolder;
}
.more{
    color: rgb(211, 237, 244);
    opacity: 0.8;
}
.more:hover{
    color: rgb(11, 165, 204);
    opacity: 1;
}
.green{
    color: rgb(75, 179, 75);
}
.mar-l{
margin-left: 15px;
}
.hr-o{
    border-left: 1px solid black;
    margin-left: 8px;
    margin-right: 8px;
    height: 20px;
    opacity: 0.1;
}
.b-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.container-hr{
    position: relative;
}
.cont1{
    font-size: 100px;
    color: aqua;
    position: absolute;
    right: 0px;
    top: 3px;
}
.cont2{
    font-size: 100px;
    color: rgb(112, 126, 33);
    position: absolute;
    right: 0px;
    top: 5px;
}
.ord{
    background-color: rgb(216, 39, 39);
    width:130px;
    height: 40px;
    border-radius: 3px;
    color: white;
    
}
.record{
    padding-left: 20px;
}